html, body{
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #fefefe;
    font-family: "Open Sans", sans-serif;
}

.party_name {
    margin: 1px;
    font-size: 1.2em;
    text-align: center;
}

#deleg {
    display: flex;
    flex-flow: wrap;
    
}
.deleg_name {

    margin-right: 8px;

}
.deleg_select {
    padding: 1.5vh;
}

.group_party {
    border: 1px solid;
    min-width: auto;
}

.selector {
    cursor: pointer;
    border: solid 1px black;
    padding: 1vh;
    float: right;
}
.sel_selector{
    border: solid 1px red !important;
    background-color: blueviolet !important;
    color: white !important;
}
.sel_A{
	background-color: red;
}
.sel_E{
	background-color: gray;
}
.sel_Z{
	background-color: green;
}
.sel_N{
	background-color: white;	
}

#preview {

    width: max-content;
    margin: 50px auto;
    background-color: yellow;
    padding: 0.7em;
    max-width: 1000px;

}
#bydeligated {

    height: 470px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-count: 2;
    column-gap: 12px;

}
.preview {
    min-width: 1030px;
}

.logo {
    width: 30%;
    display: inline-block;
    position: relative;
    top: -12%;
}

.title_holder {
    width: 66%;
    display: inline-block;
    vertical-align: top;
    height: 100%;
}
.title {

    font-size: 1.5em;
    font-weight: bold;
    position: relative;
    line-break: auto;
    height: min-content;
    width: auto;

}
.title_small {

    margin-bottom: 7px;

}

.vote_date {
    top: -11px;
    position: relative;
    font-size: 1.2em;
}
.graph_holder {
    background-color: #fff;
    box-shadow: 4px 3px 9px #e19300;
}

.gr_party {
    margin-bottom: 6px;
    display: flex;
    height: 70px;
    width: 100%;
    padding-top: 6px;
}
.gr_party:nth-child(2n), .del_holder:nth-child(2n){
    background-color: #f7f7f7;
}
.gr_name {

    width: 16%;
    padding: 2%;
    font-size: 1.5em;
    font-weight: bold;

}
.gr_img_holder{
    width: 15%;
    height: inherit;
    text-align: center;
}
.gr_logo {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    height: auto;
}
.can_container{
    width: 60%;
    height: 47px;
    margin-left: 2%;
}
.gr_stats {
    height: 35px;
}
.hidden{
    display: none !important;
}

.del_holder {

    height: 2em;
    max-width: 49.8%;
    display: block;
    margin: 2px;

}
.list_name {

    display: inline-block;
    width: 50%;
    vertical-align: super;
    padding: 0px 0px 0px 8px;
}
.list_behave {

    width: 2em;
    height: 2em;
    display: inline-block;
    position: relative;
    margin-left: 3em;

}
.list_logo img {
    max-height: 2em;
    max-width: 4em;
}

.list_logo {
    display: inline-block;
    width: 15%;
    text-align: center;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 60px 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0.6em  ;
    grid-row-gap: 0px;  
    font-weight: bold;
}
.f_cont_1 { 
    grid-area: 1 / 1 / 2 / 2; 
    text-align: end;
    align-self: center;
}
.f_cont_2 { 
    grid-area: 1 / 2 / 2 / 3; 
}

.f_cont_2 img {
    width: 60px;
}

.f_cont_3 { 
    grid-area: 1 / 3 / 2 / 4; 
    align-self: center; 
} 

