html, body{
    margin: 0;
    height: 130%;
    width: 100%;
    background-color: #fefefe;
    font-family: "Open Sans", sans-serif;
}
.setting_holder{
    position: fixed !important;
    bottom: 0;

}
.exp_men{
    position: absolute;
    z-index: 3;
    
}
.party_name {
    margin: 1px;
    font-size: 1.2em;
    text-align: center;
}

#deleg {
    display: flex;
    flex-flow: wrap;
    
}
.deleg_name {

    margin-right: 8px;

}
.deleg_select {
    padding: 1.5vh;
}

.group_party {
    border: 1px solid;
    min-width: auto;
}

.selector {
    cursor: pointer;
    border: solid 1px black;
    padding: 1vh;
    float: right;
}
.sel_selector{
    border: solid 1px red !important;
    background-color: blueviolet !important;
    color: white !important;
}


.sel_A{
	background-color: red;
}
.sel_E{
	background-color: yellow;
}
.sel_Z{
	background-color: green;
}
.sel_N{
	background-color: #626262;	
}

.leg_a{
	color: red;
}
.leg_e{
	color: yellow;
}
.leg_z{
	color: green;
}
.leg_n{
	color: #626262;	
}
.legend {

    width: auto;
    background: white;
    margin-bottom: 0px;
    padding: 8px;
    text-align: center;
    z-index: 4;
    position: relative;

}
.legend div {

    display: inline-block;
    text-shadow: 1px 1px 2px #606060;
    font-size: 1.1em;
    font-weight: bold;

}
#preview {

    width: 1000px;
    background-color: yellow;
    padding: 0.7em;

    position: absolute;

}
#bydeligated {

    height: 470px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-count: 2;
    column-gap: 12px;

}
.preview {

}
#logo_img {
    max-width: 100%;
    max-height: 100%;
}
.logo_alt {
    width: 30%;
    display: inline-block;
    position: relative;
    top: -12%;
}
.header{
    display: grid;
    grid-template-columns: auto 30%;
    grid-template-rows: auto 2em;
    grid-template-areas: "hd lg" "info info";
}

.title_holder {

    grid-area: hd;
    align-items: center;
    display: grid;

}

.title {

    font-size: 1.5em;
    font-weight: bold;
    max-height: min-content;

}
.title_small {

    align-self: baseline;

}

.logo_holder{
    grid-area: lg;

}
.vote_date {
    top: -11px;
    grid-area: info;
    font-size: 1.2em;
}
.graph_holder {
    background-color: #fff;

    z-index: 1;
}

.gr_party {

    display: flex;
    height: 85px;
    width: 100%; 

}
.gr_party:nth-child(2n), .del_holder:nth-child(2n){
    background-color: #f7f7f7;
}
.gr_name {

    width: 16%;
    padding: 2%;
    font-size: 1.5em;
    font-weight: bold;

}
.gr_img_holder {

    width: 15%;
    height: inherit;
    text-align: center;
    display: grid;
    align-content: center;

}
.gr_logo {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    height: auto;
}
.can_container {

    width: 60%;
    height: 47px;
    margin-left: 2%;
    position: relative;
    top: calc( (85px / 2) - (47px / 2 ) );

}
.gr_stats {
    height: 35px;
}
.hidden{
    display: none !important;
}

.del_holder {

    height: 2em;
    max-width: 49.8%;
    display: block;
    margin: 2px;

}
.list_name {

    display: inline-block;
    width: 50%;
    vertical-align: super;
    padding: 0px 0px 0px 8px;
}
.list_behave {

    width: 2em;
    height: 2em;
    display: inline-block;
    position: relative;
    margin-left: 3em;

}
.list_logo img {
    max-height: 2em;
    max-width: 4em;
}

.list_logo {
    display: inline-block;
    width: 15%;
    text-align: center;
}
.agree{
    background-color: green;
}
.disagree{
    background-color: red;
}
.result_holder {

    display: flex;

}
.rt_holder {
    flex-basis: 100%;
    margin-bottom: 8px;
}
.rt_pos {
    width: 50%;
    margin: 16px auto 6px auto;
    font-size: 1.2em;
    font-weight: bold;
}
.res_gr {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 8px;
    border-radius: 9px;

    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 60px 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0.6em  ;
    grid-row-gap: 0px;  
    font-weight: bold;
}
.f_cont_1 { 
    grid-area: 1 / 1 / 2 / 2; 
    text-align: end;
    align-self: center;
}
.f_cont_2 { 
    grid-area: 1 / 2 / 2 / 3; 
}

.f_cont_2 img {
    width: 60px;
}

.f_cont_3 { 
    grid-area: 1 / 3 / 2 / 4; 
    align-self: center; 
} 
#export, .export_ch {

    display: inline;
    cursor: pointer;
    background: #007FFF;
    color: white;
    margin: 2px;
    padding: 6px;
    text-transform: uppercase;
    font-weight: bolder;
    border-radius: 4px;

}
#blackbox {

    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
}

#close_bb {

    position: fixed;
    z-index: 8;
    top: 23px;
    right: 23px;
    width: 40px;
    height: 40px;
    background-color:  white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 2.2em;
    text-align: center;

}

.bg-image {
  filter: blur(0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000000d1;
}

#bb_canv {
    margin: auto;
    width: max-content;
    scale: 0.8;
}
.exp_top {

    width: max-content;
    margin: auto auto;
    position: relative;

}
.nerograf {

    height: inherit;
    display: inline-block;

    font-size: 1.3em;
    font-weight: bold;

}
.nero_number {

    display: grid;
    margin: 8px 0px 0px 12px;

}

