html, body{
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #fefefe;
    font-family: "Open Sans", sans-serif;
}

.party_name {
    margin: 1px;
    font-size: 1.2em;
    text-align: center;
}

#deleg {
    display: flex;
    flex-flow: wrap;
    
}
.deleg_name {

    margin-right: 8px;

}
.deleg_select {
    padding: 1.5vh;
}

.group_party {
    border: 1px solid;
    min-width: auto;
}

.selector {
    cursor: pointer;
    border: solid 1px black;
    padding: 1vh;
    float: right;
}
.sel_selector{
    border: solid 1px red !important;
    background-color: blueviolet !important;
    color: white !important;
}
.sel_A{
	background-color: red;
}
.sel_E{
	background-color: gray;
}
.sel_Z{
	background-color: green;
}
.sel_N{
	background-color: white;	
}

#preview {

    width: max-content;
    margin: 50px auto;
    background-color: yellow;
    padding: 0.7em;

}


.logo {
    width: 30%;
    display: inline-block;
    position: relative;
    top: -12%;
}

.title_holder {
    width: 66%;
    display: inline-block;
    vertical-align: top;
    height: 100%;
}
.title {

    font-size: 1.5em;
    font-weight: bold;
    position: relative;
    margin-top: 2em;

}
.vote_date {
    top: -11px;
    position: relative;
    font-size: 1.2em;
}
.graph_holder {
    background-color: #fff;
    box-shadow: 4px 3px 9px #e19300;
}

.gr_party {
    margin-bottom: 6px;
    display: flex;
    height: 70px;
    width: 100%;
    padding-top: 6px;
}
.gr_party:nth-child(2n){
    background-color: lightgray;
}
.gr_name {

    width: 16%;
    padding: 2%;
    font-size: 1.5em;
    font-weight: bold;

}
.gr_logo {
    width: 15%;
    height: inherit;
}
.can_container{
    width: 60%;
    height: 47px;
    margin-left: 2%;
}
.gr_stats {
    height: 35px;
}
.hidden{
    display: none !important;
}
